build/
.gradle/
local.properties
.idea/
.git/

*.iml
.DS_Store

# Gradle AutoValue plugin deposits generated sources in roots named "auto-value"
auto-value/
thrifty-java-codegen/out
thrifty-runtime/out
thrifty-schema/out
thrifty-test-server/out
thrifty-compiler-plugins/out
thrifty-compiler/out
thrifty-example-postprocessor/out
